<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% postList.results.forEach(function(post) {%>
        <%- include('post_individual', {post: post}); %>
    <% }); %>
</ol>

<div class="bottom-nav">
    <div class="bottom-links">
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
    </div>
</div>



</body>
<%- include('_footer') -%>
</html>