<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

<section class="profile-banner">
    <%- include('user_individual', {user: user}); %>
</section>

<section>
    <h2><%= user.name %>'s Created Posts</h2>
    <ol class="users-posts horizontal-flex">
        <% userPosts.results.forEach(function(post) {%>
            <%- include('post_individual', {post: post}); %>
        <% }); %>
    </ol>
</section>

<section>
    <h2><%= user.name %>'s Liked Posts</h2>
    <ol class="interacted-posts horizontal-flex">
        <% likedPosts.results.forEach(function(post) {%>
            <%- include('post_individual', {post: post}); %>
        <% }); %>
    </ol>
</section>

<section>
    <h2><%= user.name %>'s Disliked Posts</h2>
    <ol class="interacted-posts horizontal-flex">
        <% dislikedPosts.results.forEach(function(post) {%>
            <%- include('post_individual', {post: post}); %>
        <% }); %>
    </ol>
</section>



</body>
<%- include('_footer') -%>
</html>